.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.person-move {
  position: relative;
  top: 26px;
}

.person-move.person-move-active {
  transition: all 0.5s ease;
  top: 0;
}

.person-move + div {
  /* cannot have transition on this element */
  /*transition: all 1s ease;*/
  position: relative;
  top: -26px;
}

.person-move.person-move-active + div {
  transition: all 0.5s ease;
  position: relative;
  top: 0;
}

.person-enter {
  position: relative;
  opacity: 0.0;
  height: 0;
  left: 100px;
}

.person-enter.person-enter-active {
  transition: all 0.5s ease;
  opacity: 1.0;
  left: 0;
  height: 26px;
}


.person-leave {
  position: relative;
  opacity: 1.0;
  left: 0;
  height: 26px;
  z-index: -100;
}

.person-leave.person-leave-active {
  transition: all 0.5s ease;
  opacity: 0.0;
  left: 100px;
  height: 0;
  top: -13px;
}

.videogular-container {
  width: 100%;
  height: 320px;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .videogular-container {
    width: 940px;
    height: 528.75px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    width: 728px;
    height: 409.5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .videogular-container {
    width: 728px;
    height: 409.5px;
  }
}

.playList {
  background-color: white;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
}

#mainContainer {
  background-color: darkorange;
}
